[Desktop Entry]
Name=Round-Blvck
X-KDE-PluginInfo-Author=Cole Blvck
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=coleblvck@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=Round-Blvck
X-KDE-PluginInfo-Version=1.0
